<div layout="row" layout-align="space-between left">

  <button color = "primary" mat-button (click)="new()" >New</button>&nbsp;
  <input (change)="onFileSelected($event)" [(ngModel)]="fileName" class="file-upload" type="file">

  <button color = "primary" mat-button (click)="save()" >Save</button>&nbsp;
  <!-- <button color = "primary" disabled mat-button (click)="convert()" >Convert</button>&nbsp; -->

</div>
<div class="container" style="height: calc(100vh - 100px)">
    <div #diagramRef class="diagram-container"></div>
    <div #propertiesRef class="properties-container"></div>
</div>
