<div layout="row" layout-align="space-between left">

  <button color = "primary" mat-button (click)="new()" >New</button>&nbsp;
  <input type="file" class="file-upload" (change)="onFileSelected($event)">

  <button color = "primary" mat-button (click)="save()" >Save</button>&nbsp;
  <!-- <button color = "primary" disabled mat-button (click)="convert()" >Convert</button>&nbsp; -->

</div>
<div class="container">
    <div #diagramRef class="diagram-container"></div>
    <div #propertiesRef class="properties-container"></div>
</div>
